.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(179.73deg, rgba(196, 196, 196, 0) 0.83%, #DCE0E0 99.16%);
}



.each {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-family: 'Franklin Gothic Medium Cond';
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin-bottom: 3.5%;
    color: #6F6F6F;
}
.some path{
    stroke: rgb(255, 88, 139);
}
.some circle{
    stroke: rgb(255, 88, 139);
}
.textActive {
    color: rgb(255, 88, 139);
}
.picContainer {
    position: absolute;
    width: 92%;
    bottom: 0;
    margin: 0 4%;
    z-index: 50;
}
.pic {
    border-radius: 2px;
}

