body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#root {
  max-width: 425px;
  max-height: 823px;
  min-width: 300px;
  min-height: 550px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-size: cover;
}

